:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #fafafc;
  --second-brand-color: #fc4544;
  --third-brand-color: #d4d6e2;


  --main-font:  'Montserrat';
  --title-font: 'Roboto';

  font-size: 62.5%;
}
